@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
/* 
font-family: 'Lexend Deca', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/* 
font-family: 'Big Shoulders Display', cursive;
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}
body{
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.75em;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
}
/* Container styles */

.flexbox{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 10% auto;
    /* border: 1px solid red; */
    border-radius: 15px;
    overflow: hidden;
}
.item{
    padding: 3em;
}
.item > h1{
    margin-top: 1em;
}
.item > p{
    margin: 2em 0;
}

.item > button {
    margin-top: 3em;
}
.item + .item{
    padding-top: 2em;
}
.item-sedan{
    background-color: hsl(31, 77%, 52%);
}
.item-suv{
    background-color: hsl(184, 100%, 22%);
}
.item-luxury{
    background-color: hsl(179, 100%, 13%);
}
/* Container styles */

/* Components */

.btn{
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: 3px solid hsla(0, 0%, 100%, 0.75);
    padding: 1em 2em;
    border-radius: 50px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}

/* Components */

/* Media Queries */

@media (min-width: 900px){
    .flexbox{
        flex-direction: row;
    }
}

/* Media Queries */